/**
 * @name limule theme
 * @author Alexis_#9146
 * @version 1.0.0
 * @description Tensei Shitara Slime Datta Ken collection
 * @invite https://discord.gg/k3Bag2NDcU
 * @authorId 574164424206843915
 * @source https://github.com/alexis85160/theme-discord
*/

@import url("https://discordstyles.github.io/FrostedGlass/base.css");

/* BlackBox tags */
@import url('https://monstrousdev.github.io/themes/addons/user-tags.css');

/* Old Windows titlebar - remove this @import if you wish to use default titlebar */
@import url("https://gibbu.github.io/BetterDiscord-Themes/addons/windows-titlebar.css");

:root {
  /* Background image variables */
  --background-image: url('https://images5.alphacoders.com/607/thumb-350-607075.png'); /* Main background image | URL MUST BE A DIRECT LINK (ending in .jpg, .jpeg, .png, .gif) */
  --background-image-blur: 5px; /* Blur intensity of --background-image | Must end in px | DEFAULT: 5px */
  --background-image-size: cover; /* Size of the background image | DEFAUT: cover | OPTIONS: cover, contain */
  --background-image-position: center; /* Position of background image | DEAFULT: center | OPTIONS: top, right, bottom, left, center */

  /* Popout & Modal variables */
  --popout-modal-image: var(--background-image); /* Background image for popouts and modals | URL MUST BE A DIRECT LINK (ending in .jpg, .jpeg, .png, .gif) */
  --popout-modal-blur: 5px; /* Blur intensity of --popout-modal-image | Must end in px | DEFAULT: 5px */
  --popout-modal-size: cover; /* Size of the popout/modal image | DEFAUT: cover | OPTIONS: cover, contain */
  --popout-modal-position: center; /* Position of popout/modal image | DEAFULT: center | OPTIONS: top, right, bottom, left, center */

  /* Home image variables */
  --home-button-image: url('https://i.pinimg.com/564x/6d/d8/d5/6dd8d5c5431704b61be0d7b737798470.jpg'); /* Home button image | URL MUST BE A DIRECT LINK (ending in .jpg, .jpeg, .png, .gif) */
  --home-button-size: cover; /* Size of the home button image | DEFAUT: cover */
  --home-button-position: center; /* Position of home button image | DEAFULT: center */

  /* Brightness variables */
  --serverlist-brightness: 0.8; /* Brightness for serverlist | 0 - 1 (decimals allowed) | DEFAULT: 0.8 */
  --left-brightness: 0.8; /* Channels and DM list brightness | 0 - 1 (decimals allowed) | DEFAULT: 0.8 */
  --middle-brightness: 0.6; /* Chat brightness | 0 - 1 (decimals allowed) | DEFAULT: 0.6 */
  --right-brightness: 0; /* Members and Now Playing brightness | 0 - 1 (decimals allowed) | DEFAULT: 0 */
  --popout-modal-brightness: 0.75; /* Brightness for popouts and modals | 0 - 1 (decimals allowed) | DEFAULT: 0.75 */

  /* Gradient variables */
  --gradient-primary: 4,0,255; /* DEFAULT: 103,58,183 */
  --gradient-secondary:  58,142,183; /* DEFAULT: 63,81,181 */
  --gradient-direction: 320deg; /* DEFAULT: 320deg */

  /* Tint variables */
  --tint-colour:  51,119,255; /* Colour of tint | DEAFULT: 255,51,159 */
  --tint-brightness: 0; /* Brightness of --tint-colour | 0 - 1 (decimals allowed) | DEFAULT: 0 */

  /* Other variables */
  --window-padding: 20px; /* Spacing around the Discord window | DEFAULT: 20px */
  --window-roundness: 10px; /* Roundness of Discord | DEFAULT: 10px */
  --scrollbar-colour: rgba(255,255,255,0.05); /* DEFAULT: rgba(255,255,255,0.05) */
  --link-colour: #00b0f4; /* DEFAULT: #00b0f4 */
  --show-gift-gif-buttons: none; /* Show buttons: block | Hide buttons: none | DEFAULT: none */

  /*
    Visit https://fonts.google.com and select one to your liking.
    Now just follow this tutorial: https://imgur.com/a/CNbw7xC
  */
  --font: 'Whitney';

  /* Do not touch */
  --update-notice-1: none;
}
